.bodyContainer3 {
  background-color: var(--bg-secondary);
  text-align: center;
}

.bodyContainer3 h1 {
  font-weight: 600;
  padding-top: 1em;
  margin-top: 1em;
}

.bodyContainer3 .cardContainer1 img {
  width: 18.63em;
}

.bodyContainer3 .cardGrid {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 1em;
  margin-top: 1.3em;
}

.bodyContainer3 .cardContainer2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.bodyContainer3 .cardContainer2 img {
  width: 100%;
}

.bodyContainer3 .cardContainer1 h3 {
  font-size: 1rem;
  text-align: left;
}

.bodyContainer3 .cardContainer1 p {
  font-size: 0.9rem;
  text-align: left;
}

.bodyContainer3 .cardContainer2 h3 {
  font-size: 1rem;
  text-align: left;
}

.bodyContainer3 .cardContainer2 p {
  font-size: 0.9rem;
  text-align: left;
}

@media (max-width: 1024px) {
  .bodyContainer3 h1 {
    font-size: 2rem;
  }

  .bodyContainer3 .cardGrid {
    flex-direction: column;
  }

  .bodyContainer3 .cardContainer1 img {
    width: 100%;
  }

  .bodyContainer3 .cardContainer2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .bodyContainer3 h1 {
    font-size: 1.5rem;
  }

  .bodyContainer3 .cardGrid {
    width: 92%;
  }

  .bodyContainer3 .cardContainer2 {
    grid-template-columns: 1fr;
  }

  .bodyContainer3 .cardContainer1 h3,
  .bodyContainer3 .cardContainer2 h3 {
    font-size: 0.9rem;
  }

  .bodyContainer3 .cardContainer1 p,
  .bodyContainer3 .cardContainer2 p {
    font-size: 0.8rem;
  }
}
