.bodyContainer5 {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: center;
  opacity: 0;
  filter: blur(5px);
  transform: translateY(10%);
  transition: all 1s;
}

.bodyContainer5.opacityon {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.bodyContainer5 img {
  width: 38em;
  margin-top: 3em;
}

@media (max-width: 1024px) {
  .bodyContainer5 img {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .bodyContainer5 {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .bodyContainer5 img {
    width: 92%;
    margin-top: 1.5em;
  }
}
